@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "AnonymousPro";
	src: url("../asset/AnonymousPro/Anonymous\ Pro.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "AnonymousPro";
	src: url("../asset/AnonymousPro/Anonymous\ Pro\ B.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "AnonymousPro";
	src: url("../asset/AnonymousPro/Anonymous\ Pro\ BI.ttf");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "AnonymousPro";
	src: url("../asset/AnonymousPro/Anonymous\ Pro\ I.ttf");
	font-weight: normal;
	font-style: italic;
}

@layer base {
	* {
		@apply text-black decoration-main p-0 m-0 box-border;
	}
	*,
	*:focus,
	*:hover {
		@apply outline-none;
	}
	h1 {
		@apply text-3xl text-black mb-3;
	}
	h2 {
		@apply text-2xl text-black mb-2;
	}
	h3 {
		@apply text-xl;
	}
	a {
		@apply underline hover:text-secondary visited:text-black cursor-pointer;
	}
	ul {
		@apply list-none;
	}
	main {
		@apply w-full h-full grid grid-flow-row grid-cols-3 sm:grid-cols-6 lg:grid-cols-9 p-8 max-w-4xl container mx-auto gap-4;
	}
}

/* Makes sure the footer is always at the bottom in a clean way */
#main-wrapper {
	grid-template-rows: auto 1fr auto;
}

/* Basic CSS Reset */
html,
body {
	font-family: Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Tippy */

.tippy-box[data-animation="fade"][data-state="hidden"] {
	opacity: 0;
}
[data-tippy-root] {
	max-width: calc(100vw - 10px);
}
.tippy-box {
	position: relative;
	background-color: #e5e7eb;
	color: #000;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.4;
	white-space: normal;
	outline: 0;
	transition-property: transform, visibility, opacity;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
	bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
	bottom: -7px;
	left: 0;
	border-width: 8px 8px 0;
	border-top-color: initial;
	transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
	top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
	top: -7px;
	left: 0;
	border-width: 0 8px 8px;
	border-bottom-color: initial;
	transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
	right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
	border-width: 8px 0 8px 8px;
	border-left-color: initial;
	right: -7px;
	transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
	left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
	left: -7px;
	border-width: 8px 8px 8px 0;
	border-right-color: initial;
	transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
	width: 16px;
	height: 16px;
	color: #e5e7eb;
}
.tippy-arrow:before {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
}
.tippy-content {
	position: relative;
	padding: 5px 9px;
	z-index: 1;
}

.active-page {
	color: #fff;
	background-color: #0050f5;
	border-radius: 5px;
}

.active-page:hover {
	color: #fff;
	background-color: #0050f5;
	border-radius: 5px;
}