@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply text-black;
	}
	h1 {
		@apply text-2xl text-black mb-3;
	}
	h2 {
		@apply text-xl text-black mb-2;
	}
	a {
		@apply underline hover:text-main;
	}
	ul {
		@apply list-none;
	}
}

#main-wrapper {
	grid-template-rows: auto 1fr auto;
}

/* Basic CSS Reset */
html,
body {
	font-family: Helvetica, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Just for now */

/* Main */
main {
	padding-top: 5rem;
	text-align: center;
}

/* Login */
.login-page form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.login-page form input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 1rem;
}

.login-page form button {
	padding: 0.5rem 2rem;
	font-size: 1.1rem;
}

/* Register */
.register-page form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.register-page form input {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 1rem;
}

.register-page form button {
	padding: 0.5rem 2rem;
	font-size: 1.1rem;
}
